@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    @***********Get the all the child nodes of chequeList node which is a child node of home page**********************@
    var selection = Model.Content.Site().Children.Where(c => c.DocumentTypeAlias == "chequeList").First().Children.OrderByDescending(c=>DateTime.Parse(c.GetPropertyValue("date").ToString()));

}
<h1>Cheque List</h1>
<div class="row clearfix">
    <table class="cheque_list">
        <tr>
            <th></th>
            <th>Account Name</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        @foreach (var item in selection)
        {
            <tr>
                <td><a href="/ChequeDetail?chequeId=@item.Id">@item.Name</a></td>
                <td>@item.GetPropertyValue("accountName")</td>
                <td>@DateTime.Parse(item.GetPropertyValue("date").ToString()).ToString("dd/MM/yyyy")</td>
                <td>$@String.Format( "{0:#,##0.00}", item.GetPropertyValue("amount"))</td>
            </tr>

        }
    </table>
</div>

