<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT cheque ANY>
<!ATTLIST cheque id ID #REQUIRED>
<!ELEMENT chequeList ANY>
<!ATTLIST chequeList id ID #REQUIRED>
<!ELEMENT chequeDetail ANY>
<!ATTLIST chequeDetail id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1073" key="f961708d-ae95-4bfd-b203-0b8f6bbb3290" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-05-08T10:15:46" updateDate="2017-05-11T09:49:35" nodeName="Home" urlName="home" path="-1,1073" isDoc="" nodeType="1070" creatorName="Victor" writerName="Victor" writerID="0" template="1066" nodeTypeAlias="Home">
    <siteTitle><![CDATA[Fanoe - Umbraco Starter Kit]]></siteTitle>
    <siteLogo><![CDATA[/media/1042/logo.jpg]]></siteLogo>
    <siteDescription><![CDATA[This is an official Umbraco Starter kit. It shows of the newest features in Umbraco and is the perfect place to start for newcomers.. Everything is made to be taken apart. It's your own little playground. Enjoy!]]></siteDescription>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "config": {},
              "styles": {
                "margin-bottom": "60px"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "macroAlias": "ChequeList",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "hasConfig": false,
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1044/14441035391_7ee1d0d166_h_darken.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "hasConfig": true,
          "id": "d28a05da-2404-c1e7-6265-01b07fc5f722"
        }
      ]
    }
  ]
}]]></content>
    <chequeList id="1096" key="6fce9f72-6478-48b2-848e-2019a9547e2f" parentID="1073" level="2" creatorID="0" sortOrder="5" createDate="2017-05-08T11:25:05" updateDate="2017-05-08T17:18:21" nodeName="Deepend Cheque List" urlName="deepend-cheque-list" path="-1,1073,1096" isDoc="" nodeType="1095" creatorName="Victor" writerName="Victor" writerID="0" template="0" nodeTypeAlias="chequeList">
      <cheque id="1099" key="4c108b1e-29c7-4b88-ab64-ad3911816652" parentID="1096" level="3" creatorID="0" sortOrder="2" createDate="2017-05-08T11:34:38" updateDate="2017-05-08T17:18:13" nodeName="Cheque John Smith 01 04 2017" urlName="cheque-john-smith-01-04-2017" path="-1,1073,1096,1099" isDoc="" nodeType="1094" creatorName="Victor" writerName="Victor" writerID="0" template="0" nodeTypeAlias="cheque">
        <accountName><![CDATA[John Smith]]></accountName>
        <date>2017-04-01T00:00:00</date>
        <amount>1217.05</amount>
      </cheque>
      <cheque id="1100" key="7202cf60-31dd-4ed9-b41e-ba4fb542bed5" parentID="1096" level="3" creatorID="0" sortOrder="3" createDate="2017-05-08T11:50:43" updateDate="2017-05-08T17:18:13" nodeName="Cheque Yun Deng 01 04 2017" urlName="cheque-yun-deng-01-04-2017" path="-1,1073,1096,1100" isDoc="" nodeType="1094" creatorName="Victor" writerName="Victor" writerID="0" template="0" nodeTypeAlias="cheque">
        <accountName><![CDATA[Yun Deng]]></accountName>
        <date>2017-04-01T00:00:00</date>
        <amount>1200</amount>
      </cheque>
      <cheque id="1105" key="d9582aba-c072-4178-96b6-a28522053a0d" parentID="1096" level="3" creatorID="0" sortOrder="4" createDate="2017-05-09T12:55:45" updateDate="2017-05-09T12:56:18" nodeName="Tester Cheque" urlName="tester-cheque" path="-1,1073,1096,1105" isDoc="" nodeType="1094" creatorName="Victor" writerName="Victor" writerID="0" template="1067" nodeTypeAlias="cheque">
        <accountName><![CDATA[Tester]]></accountName>
        <date>2017-05-06T00:00:00</date>
        <amount>1234567.12</amount>
      </cheque>
    </chequeList>
    <chequeDetail id="1104" key="cf9ebe7c-a16c-4f1d-b052-21c9b226a922" parentID="1073" level="2" creatorID="0" sortOrder="6" createDate="2017-05-08T22:37:43" updateDate="2017-05-08T22:37:43" nodeName="ChequeDetail" urlName="chequedetail" path="-1,1073,1104" isDoc="" nodeType="1103" creatorName="Victor" writerName="Victor" writerID="0" template="1102" nodeTypeAlias="chequeDetail" />
  </Home>
</root>